* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.root-container {
  padding: 20px;
}

.container {
  display: flex;
  margin-bottom: 20px;
}

.number-of-post {
  align-self: flex-end;
}

.bio {
  margin-bottom: 20px;
}

.list-of-posts {
  margin-bottom: 20px;
}

.like-comment {
  display: flex;
  column-gap: 30px;
  margin-top: 10px;
}

.comment {
  margin-top: 20px;
}
